*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background:linear-gradient(to right,rgb(1, 1, 95),purple,rgb(46, 1, 1));
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    background-color: whitesmoke;
    padding-bottom :40px;
    padding-right: 90px;
    border-radius: 10px;
}
.box p{
    margin-top: 30px;
    margin-left: 25px;
    font-size: 20px;
    color: blue;
    gap: 10px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
}
.details{
    margin-left: 25px;
}
.details input{
    margin-top: 29px;
    padding: 20px 265px 20px 15px ;
    border-radius: 30px;
    border-color: transparent;
    background-color:#DEDADA;
    border-right: none;
    outline: none;
    font-size: 19px;
}
.details button{
    padding: 23px 54px 21px 54px;
    margin-left: -80px;
    border-left: none;
    border-radius: 30px;
    border-style: none;
    background-color:#E38A60;
    font-size: 17px;
    cursor: pointer;
}
ul li{
    list-style: none;
    margin: 30px;
    font-size: 18px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: text;
    position: relative;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.check-button{
    position: absolute;
    height: 28px;
    width: 28px;
    top: 8px;
    left: 5px;
    color: rgb(5, 42, 5);
    font-size: 17px;
    mix-blend-mode: color-burn;
    cursor: pointer;
}
.delete-button {
    position: absolute;
    right: 160px;
    height: 40px;
    width: 40px;
    padding: 8px 10px;
    color: red;
    font-size: 17px;
    text-align: center;
    align-items: center;
    cursor: pointer;
}
.edit-button{
    position: absolute;
    right:190px;
    height: 40px;
    width: 40px;
    padding: 8px 10px;
    color: #d75d2c;
    font-size: 17px;
    text-align: center;
    align-items: center;
    cursor: pointer;
}
.date{
    position: absolute;
    right: 0;
    top: 21px;
    color: rgb(28, 64, 227);
    font-size: 17px;
}
.delete-button:hover {
    opacity: 0.8;
    transform: scale(1.1);
}
.edit-button:hover{
    opacity: 0.8;
    transform: scale(1.1);
}
.check-button:hover{
    opacity: 0.8;
    transform: scale(1.1);
}
ul li.checked{
    color:#555;
    text-decoration: line-through;
}
.disabled{
    pointer-events: none;
}
@media (max-width:600px) and (max-height: 800px) {
    .box{
        margin-top: 50px;
        padding-bottom: 60px;
        padding-right: 82px;
        border-radius: 10px;
    }
    .box p{
        margin-top: 30px;
        margin-left: 25px;
        font-size: 15px;
    }
    .details input{
        padding: 15px 110px 15px 15px ;
        border-radius: 30px;
        font-size: 15px;
    }
    .details button{
        padding: 15px 40px 16px 40px;
        font-size: 16px;
    }
    ul li{
        margin: 20px;
        font-size: 15px;
        padding: 12px 5px 12px 35px;
    }
    .check-button{
        height: 20px;
        width: 20px;
        top: 10px;
        left: 5px;
        font-size: 15px;
    }
    .delete-button {
        right: 70px;
        top: 7px;
        height: 20px;
        width: 20px;
        font-size: 15px;
}
    .edit-button{
        top: 7px;
        right:74px;
        height: 40px;
        width: 40px;
        font-size: 15px;
}   
.date{
    position: absolute;
    right: 0;
    left: 270px;
    top: 6px;
    color: red;
    font-size: 15px;
}
}
@media (min-width: 601px) and (max-width: 768px) {
    .box{
        margin-top: 80px;
        background-color: whitesmoke;
        padding-bottom: 80px;
        padding-right: 75px;
    }
    .box p{
        margin-top: 30px;
        margin-left: 25px;
        font-size: 18px;
    }
    .details{
        margin-left: 25px;
    }
    ul li{
        font-size: 15px;
        padding: 12px 5px 12px 50px;
    }
    .check-button{
        height: 28px;
        width: 28px;
        font-size: 16px;
    }
    .delete-button {
        position: absolute;
        right: 137px;
        font-size: 16px;
    }
    .edit-button{
        position: absolute;
        right:160px;
        font-size: 17px;
    }
    .date{
        position: absolute;
        font-size: 15px;
    }
    .details input{
        margin-top: 29px;
        padding: 20px 185px 20px 15px ;
        font-size: 19px;
    }
    .details button{
        padding: 23px 54px 21px 54px;
        font-size: 17px;
    }
}
@media (min-width: 769px) {
    .box{
        margin-top: 80px;
        background-color: whitesmoke;
        padding-bottom: 80px;
        padding-right: 84px;
    }
    .box p{
        margin-top: 30px;
        margin-left: 25px;
        font-size: 22px;
    }
    .details{
        margin-left: 25px;
    }
    .details input{
        margin-top: 29px;
        padding: 20px 290px 20px 15px ;
        font-size: 22px;
    }
    .details button{
        padding: 23px 54px 22px 54px;
        font-size: 20px;
    }
    ul li{
        font-size: 22px;
    }
    .check-button{
        top: 10px;
    }
}

